.galleryGrid {
  margin-top: 70px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

@media (min-width: 640px) {
  .galleryGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .galleryGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .galleryGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
